* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* top */
.top {
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: url(img/bg.jpg);
  background-size: cover;
  background-position: center;
}

.tulisan {
  text-align: center;
  padding-bottom: 7rem;
}

/* about */
#about {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #f4e8de;
}

/* font */
.dans {
  font-family: "Dancing Script";
}

.play {
  font-family: "Playfair Display";
  letter-spacing: 0.5px;
  color: #b57045;
}

/* port: biolink */
.port {
  background-color: peru;
}

.port:hover {
  background-color: rgb(165, 82, 0);
}

/* projects */
#projects {
  padding: 120px 20px 90px 20px;
  background-color: #fff;
}

.click {
  background-color: #f4e8de;
  color: #b57045;
  letter-spacing: 1.5px;
  font-size: 1rem;
}

.card-title {
  font-weight: 700;
}

/* contact */
#contact {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff7ef;
}

/* footer */
.foot {
  background-color: #b57045;
  border-top: 2px solid rgb(211, 211, 211);
}

.foot p {
  color: white;
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding-top: 0.4rem;
}

h2 {
  font-size: 3rem;
}

/* extra */
.gols {
  font-family: "Montserrat";
  font-size: 0.8rem;
  letter-spacing: 1.5px;
}
.gols:hover {
  color: #b57045;
}

.gols:active {
  color: black;
}

.cols {
  font-family: "Playfair Display";
  letter-spacing: 1px;
  color: #b57045;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
